@import url(@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url('background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
  }
  .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }
  header .search-box {
    flex: 1;
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    border: 2px solid #162938;;
    border-radius: 25px;
    margin-left: 200px;
    margin-right: 200px;
  
  
  }
  .search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    text-align: center;
    
  
  }
  .search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: gray;
  
  }
  
  
  
  .navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
  }
  
  
  
  
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  
  }
  
  
  
  
  .navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  
  }
  .navigation .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
  }
  
  
  
  
  .navigation .btnLogin:hover {
    background: #fff;
    color: #162938;
  }

.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
}

.container h1{
    text-align: center;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

.confirm{
    background-color: #0B5ED6;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.confirm:hover{
    background-color: dodgerblue;
}

.cards img{
    width: 100px;
}